<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Katal_Ref.Properties.Settings.Katal_Reform_DBConnectionString"
            connectionString="Data Source=DESKTOP-AH9I3DL\SQLEXPRESS;Initial Catalog=Katal_Reform_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Katal_Ref.Properties.Settings.Katal_Reform_DBConnectionStringNew"
            connectionString="Data Source=DESKTOP-9QU6FP9\SQLEXPRESS;Initial Catalog=Katal_Reform_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>